<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:file:./SwimAcrossLakeStopwatch</property>
        <property name="connection.username">root</property>
        <property name="connection.password">Password</property>

        <property name="show_sql">false</property>
        <property name="format_sql">true</property>
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>

        <property name="hbm2ddl.auto">update</property>

        <mapping class="com.matthieubalmont.swimacrosslakestopwatch.hibernate.entities.Bib"/>
        <mapping class="com.matthieubalmont.swimacrosslakestopwatch.hibernate.entities.Competition"/>
        <mapping class="com.matthieubalmont.swimacrosslakestopwatch.hibernate.entities.Race"/>
        <mapping class="com.matthieubalmont.swimacrosslakestopwatch.hibernate.entities.Swimmer"/>
        <mapping class="com.matthieubalmont.swimacrosslakestopwatch.hibernate.entities.SwimmingClub"/>
        <mapping class="com.matthieubalmont.swimacrosslakestopwatch.hibernate.entities.Wave"/>
    </session-factory>
</hibernate-configuration>